.fs-dropdown {
    @extend .category;
    width: 100%;

    &.fs-dropdown-open {
        z-index: 3;

        .fs-dropdown-selected {
            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        .fs-dropdown-options {
            display: block;
        }
    }
}

.fs-dropdown-element {
    @include media-breakpoint-up(md) {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        @include pos(0,0);
        bottom: 0;
        width: 100%;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
    }
}

.fs-dropdown-selected {
    @extend .category__placeholder;
    @include before;
    color: #8C8C8C;

    @include media-breakpoint-down(sm) {
        pointer-events: none;
    }

    &:before {
        @include wh(1px,12px);
        top: 12px;
        right: 18px;
        transform: rotate(-45deg);
        background: $color__border;
    }

    &:after {
        @include wh(1px,12px);
        content: '';
        position: absolute;
        top: 12px;
        right: 10px;
        transform: rotate(45deg);
        background: $color__border;
    }
}

.fs-dropdown-options {
    @extend .category__list;
}

.fs-dropdown-item {
    @extend %btn-default;
    @extend .category__item;
    width: 100%;;
    display: block;
    text-align: left;
    
    &.fs-dropdown-item_selected {
        @extend .category__item.active;
    }
}